﻿
@{
    ViewBag.Title = "HealthQuotelist";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
<link href="~/Content/css/checkbox.css" rel="stylesheet" />
<link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
<style>
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #2d83bd;
    }


        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 4px 16px;
            transition: 0.3s;
            font-size: 17px;
            width: 25%;
            color: #fff;
        }

            .tab button:hover {
                background-color: #ccc;
                border: 1px solid #1f7cbd;
                color: #000;
            }

            .tab button.active {
                background-color: #ccc;
                border: 1px solid #1f7cbd;
                color: #000;
            }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .table td, .table th {
        padding: 3px 5px;
        vertical-align: top;
        border: 1px solid #dee2e6;
    }

    #compare_div {
        position: fixed !important;
        bottom: 0 !important;
        left: 40% !important;
        background-color: #2d83bd !important;
        color: #FFF !important;
        z-index: 500 !important;
        padding: 10px !important;
        max-width: 480px !important;
    }

    .hidden {
        display: none !important;
    }

    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }

    .rounded-top {
        border-radius: 4px 4px 0 0 !important;
    }

    .compayrbtn {
        background: #e71820;
        color: #fff;
        border-radius: 20px;
        padding: 3px 12px;
    }

        .compayrbtn:hover {
            color: #fff !important;
        }

    .padding_horizontal_20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .no-margin-bottom {
        margin-bottom: 0 !important;
    }

    p {
        margin-top: 0;
        margin-bottom: 0px;
    }

    .topbox {
        background: #245262;
        padding: 15px;
        margin-bottom: 14px;
    }

    .boxborder {
        height: 104px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .filterhed {
        padding: 5px;
        color: #09a9e5;
        font-weight: bold;
    }

    .seeingo {
        color: #1375b8 !important;
        font-weight: 100 !important;
        font-size: 15px;
    }

        .seeingo input:checked ~ .checkmark {
            background-color: #fff !important;
        }

    .fonticon {
        font-size: 40px;
        color: green;
    }

    .fontheding {
        margin-left: 12px;
        font-size: 15px;
        color: #2d83bd;
    }

    .fontdetails {
        font-size: 12px;
        /*text-align: right;*/
        margin-left: 20px;
    }

    .listbox {
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 14px;
    }

        .listbox:hover {
            box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
        }

    .bookbtn {
        padding: 13px 35px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .emialcort {
        float: right;
        border: 1px solid #09a9e5;
        background: #09a9e5;
        padding: 10px 10px;
        border-radius: 4px;
        width: 20%;
        color: #fff;
    }

    .editcort {
        text-align: center;
        float: right;
        margin-left: 13px;
        border: 1px solid #09a9e5;
        background: #09a9e5;
        padding: 10px 10px;
        border-radius: 4px;
        width: 20%;
        color: #fff;
    }

    .my_badge.label {
        position: absolute;
        background: linear-gradient(to right,#fe8489 0%,#ff8b90 100%);
        border-radius: 0;
        font-size: 12px;
        font-weight: normal;
        left: 48px;
        top: 3px;
        z-index: 9999;
        padding: 0px 17px 8px;
        text-shadow: none;
        color: #fff !important;
        z-index: 999;
    }    

        .my_badge.label.arrowed-in-right:before {
            border: 11px solid #ff8a8f;
            border-left-color: transparent !important;
            content: "";
            display: inline-block;
            position: absolute;
            top: 0px;
            left: -20px;
        }

    product_block .middle_feature_section .my_badge {
        font-size: 13px;
    }

    .my_badge.label-large.arrowed-in-right {
        margin-right: 11px;
    }

    .text-white {
        font-size: 16px;
        color: #fff !important;
    }
</style>

<div style="margin-top:4px;">
    <div class="container-fluid topbox">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="margin-top: 10px;color: #fff;">Health Insurance</h3>
            </div>
            <div class="col-sm-8">
                <a href="/health/helthsearch" class="editcort">Back to Edit</a>
                <button class="emialcort" data-toggle="modal" data-target="#membermodel"> Email Quote</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 listbox">
            <div class="row">
                <div class="col-sm-3">
                    <div class="col-sm-12 boxborder" style="background: #f7f7f7;">
                        <p>Plans for Self (29 Yrs)</p>
                        <p style="font-size: 13px;">Pincode  : <b><label id="lblPinCode"></label></b></p>
                        <p style="font-size: 13px;">Product Count  : <b><label id="lblProductCount" style="color:#e71820;">12 Records</label></b></p>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 boxborder">
                        <p class="filterhed">Filter Premium</p>
                        <div class="row">
                            <div class="col-sm-6"><span id="minRangeSlide" style="float: left;font-weight: bold;">₹ 7134</span></div>
                            <div class="col-sm-6"><span id="maxRangeSlide" style="float: right;font-weight: bold;">₹ 30621</span></div>
                        </div>
                        <div class="col-sm-12 ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="sliderprice"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 boxborder">
                        <p class="filterhed">Sum Insured</p>
                        <select id="ddlSumInsured" class="form-control" style="height:37px;"><option value="">Select</option><option value="1000000">₹ 1000000 </option></select>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="col-sm-12 boxborder">
                        <p class="filterhed">Tenure (In Years)</p>
                        <select id="ddlTenure" class="form-control" style="height:37px;">
                            <option value="">Select</option>
                            <option value="1">1 Years</option>
                            <option value="2">2 Years</option>
                            <option value="3">3 Years</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 listbox">
            <div class="row">
                <span class="label label-large arrowed-in-right my_badge"> <i></i> COVID-19 Covered</span>
                <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                    <img src="https://www.paybima.com/application/resources/uploads/company_logo/aYP22xUzxtqFneGgSfg2K1feTmxhpwrnC9y+tJ+EdE.webp" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:2px;width: 100%;">
                    <p class="text-center">Care</p>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 3px;">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-home fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Room Rent</p><p class="fontdetails"> Shared Accommodation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-heartbeat fonticon "></span></p>
                                </div><div class="col-sm-10">
                                    <p class="fontdetails">Pre-Existing Disease</p><p class="fontdetails">  48 months</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-hospital fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Network Hospitals</p><p class="fontdetails">  4000+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-3">
                            <a href="" data-toggle="modal" data-target="#productDetailshealth" style="font-size:17px;color:green"><span class="fa fa-life-ring"></span>&nbsp; View Features</a>
                        </div>
                        <div class="col-sm-4">Young Star Individual - SILVER</div>
                        <div class="col-sm-5">
                            <h6 class="checkbox-inline" style=" padding: 1px 17px 5px; width: 70%;float:right"><label class="seeingo chech" style="color: green !important;">Add to compare<input type="checkbox" class="submenuclass healthInsuranceProducts" data-identity="hip2" id="commit" onchange="CompareCheck(this,2)" name="commit"><span class="hidden" id="compData2" data-sum_insured="1000000" data-plan="SILVER" data-companyid="1" data-productid="8"></span><span class="checkmark"></span></label></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="text-transform: capitalize;">
                    <div class="row" style="border-left:1px solid #ccc">
                        <div class="col-sm-12"><p style="text-align: center;margin-top: -6px;font-size: 14px;font-weight: bold;"> Cover:&nbsp;<span id="coverCount2"><span class="fa fa-rupee"></span>1000000 / 1 Year</span></p><button class="btn theme-btn btn-hover" style="margin-left: 27px;" id="premiumCount2" data-thiscount="2" data-suminsuredid="3" data-productid="8" data-suminsured="1000000" data-totalamt="7133.1" data-planname="SILVER" data-tenure="1" data-companyid="1" data-adult="1" data-child="0">₹ 7,134.00</button><p style="text-align: center;font-size: 12px;">All Inclusive</p><p style="text-align:center;font-weight: bold;font-size: 14px;"><span class="fa fa-rupee"></span>&nbsp;20/day</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 listbox">
            <div class="row">
                <span class="label label-large arrowed-in-right my_badge"> <i></i> COVID-19 Covered</span>
                <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                    <img src="https://www.paybima.com/application/resources/uploads/company_logo/aYP22xUzxtqFneGgSfg2K1feTmxhpwrnC9y+tJ+EdE.webp" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:2px;width: 100%;">
                    <p class="text-center">Care</p>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 3px;">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-home fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Room Rent</p><p class="fontdetails"> Shared Accommodation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-heartbeat fonticon "></span></p>
                                </div><div class="col-sm-10">
                                    <p class="fontdetails">Pre-Existing Disease</p><p class="fontdetails">  48 months</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-hospital fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Network Hospitals</p><p class="fontdetails">  4000+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-3">
                            <a href="" data-toggle="modal" data-target="#productDetailshealth" style="font-size:17px;color:green"><span class="fa fa-life-ring"></span>&nbsp; View Features</a>
                        </div>
                        <div class="col-sm-4">Young Star Individual - SILVER</div>
                        <div class="col-sm-5">
                            <h6 class="checkbox-inline" style=" padding: 1px 17px 5px; width: 70%;float:right"><label class="seeingo chech" style="color: green !important;">Add to compare<input type="checkbox" class="submenuclass healthInsuranceProducts" data-identity="hip2" id="commit" onchange="CompareCheck(this,2)" name="commit"><span class="hidden" id="compData2" data-sum_insured="1000000" data-plan="SILVER" data-companyid="1" data-productid="8"></span><span class="checkmark"></span></label></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="text-transform: capitalize;">
                    <div class="row" style="border-left:1px solid #ccc">
                        <div class="col-sm-12"><p style="text-align: center;margin-top: -6px;font-size: 14px;font-weight: bold;"> Cover:&nbsp;<span id="coverCount2"><span class="fa fa-rupee"></span>1000000 / 1 Year</span></p><button class="btn theme-btn btn-hover" style="margin-left: 27px;" id="premiumCount2" data-thiscount="2" data-suminsuredid="3" data-productid="8" data-suminsured="1000000" data-totalamt="7133.1" data-planname="SILVER" data-tenure="1" data-companyid="1" data-adult="1" data-child="0">₹ 7,134.00</button><p style="text-align: center;font-size: 12px;">All Inclusive</p><p style="text-align:center;font-weight: bold;font-size: 14px;"><span class="fa fa-rupee"></span>&nbsp;20/day</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 listbox">
            <div class="row">
                <span class="label label-large arrowed-in-right my_badge"> <i></i> COVID-19 Covered</span>
                <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                    <img src="https://www.paybima.com/application/resources/uploads/company_logo/aYP22xUzxtqFneGgSfg2K1feTmxhpwrnC9y+tJ+EdE.webp" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:2px;width: 100%;">
                    <p class="text-center">Care</p>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 3px;">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-home fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Room Rent</p><p class="fontdetails"> Shared Accommodation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-heartbeat fonticon "></span></p>
                                </div><div class="col-sm-10">
                                    <p class="fontdetails">Pre-Existing Disease</p><p class="fontdetails">  48 months</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-hospital fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Network Hospitals</p><p class="fontdetails">  4000+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-3">
                            <a href="" data-toggle="modal" data-target="#productDetailshealth" style="font-size:17px;color:green"><span class="fa fa-life-ring"></span>&nbsp; View Features</a>
                        </div>
                        <div class="col-sm-4">Young Star Individual - SILVER</div>
                        <div class="col-sm-5">
                            <h6 class="checkbox-inline" style=" padding: 1px 17px 5px; width: 70%;float:right"><label class="seeingo chech" style="color: green !important;">Add to compare<input type="checkbox" class="submenuclass healthInsuranceProducts" data-identity="hip2" id="commit" onchange="CompareCheck(this,2)" name="commit"><span class="hidden" id="compData2" data-sum_insured="1000000" data-plan="SILVER" data-companyid="1" data-productid="8"></span><span class="checkmark"></span></label></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="text-transform: capitalize;">
                    <div class="row" style="border-left:1px solid #ccc">
                        <div class="col-sm-12"><p style="text-align: center;margin-top: -6px;font-size: 14px;font-weight: bold;"> Cover:&nbsp;<span id="coverCount2"><span class="fa fa-rupee"></span>1000000 / 1 Year</span></p><button class="btn theme-btn btn-hover" style="margin-left: 27px;" id="premiumCount2" data-thiscount="2" data-suminsuredid="3" data-productid="8" data-suminsured="1000000" data-totalamt="7133.1" data-planname="SILVER" data-tenure="1" data-companyid="1" data-adult="1" data-child="0">₹ 7,134.00</button><p style="text-align: center;font-size: 12px;">All Inclusive</p><p style="text-align:center;font-weight: bold;font-size: 14px;"><span class="fa fa-rupee"></span>&nbsp;20/day</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 listbox">
            <div class="row">
                <span class="label label-large arrowed-in-right my_badge"> <i></i> COVID-19 Covered</span>
                <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                    <img src="https://www.paybima.com/application/resources/uploads/company_logo/aYP22xUzxtqFneGgSfg2K1feTmxhpwrnC9y+tJ+EdE.webp" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:2px;width: 100%;">
                    <p class="text-center">Care</p>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 3px;">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-home fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Room Rent</p><p class="fontdetails"> Shared Accommodation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-heartbeat fonticon "></span></p>
                                </div><div class="col-sm-10">
                                    <p class="fontdetails">Pre-Existing Disease</p><p class="fontdetails">  48 months</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-hospital fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Network Hospitals</p><p class="fontdetails">  4000+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-3">
                            <a href="" data-toggle="modal" data-target="#productDetailshealth" style="font-size:17px;color:green"><span class="fa fa-life-ring"></span>&nbsp; View Features</a>
                        </div>
                        <div class="col-sm-4">Young Star Individual - SILVER</div>
                        <div class="col-sm-5">
                            <h6 class="checkbox-inline" style=" padding: 1px 17px 5px; width: 70%;float:right"><label class="seeingo chech" style="color: green !important;">Add to compare<input type="checkbox" class="submenuclass healthInsuranceProducts" data-identity="hip2" id="commit" onchange="CompareCheck(this,2)" name="commit"><span class="hidden" id="compData2" data-sum_insured="1000000" data-plan="SILVER" data-companyid="1" data-productid="8"></span><span class="checkmark"></span></label></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="text-transform: capitalize;">
                    <div class="row" style="border-left:1px solid #ccc">
                        <div class="col-sm-12"><p style="text-align: center;margin-top: -6px;font-size: 14px;font-weight: bold;"> Cover:&nbsp;<span id="coverCount2"><span class="fa fa-rupee"></span>1000000 / 1 Year</span></p><button class="btn theme-btn btn-hover" style="margin-left: 27px;" id="premiumCount2" data-thiscount="2" data-suminsuredid="3" data-productid="8" data-suminsured="1000000" data-totalamt="7133.1" data-planname="SILVER" data-tenure="1" data-companyid="1" data-adult="1" data-child="0">₹ 7,134.00</button><p style="text-align: center;font-size: 12px;">All Inclusive</p><p style="text-align:center;font-weight: bold;font-size: 14px;"><span class="fa fa-rupee"></span>&nbsp;20/day</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 listbox">
            <div class="row">
                <span class="label label-large arrowed-in-right my_badge"> <i></i> COVID-19 Covered</span>
                <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                    <img src="https://www.paybima.com/application/resources/uploads/company_logo/aYP22xUzxtqFneGgSfg2K1feTmxhpwrnC9y+tJ+EdE.webp" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:2px;width: 100%;">
                    <p class="text-center">Care</p>
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 3px;">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-home fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Room Rent</p><p class="fontdetails"> Shared Accommodation</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-heartbeat fonticon "></span></p>
                                </div><div class="col-sm-10">
                                    <p class="fontdetails">Pre-Existing Disease</p><p class="fontdetails">  48 months</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p><span class="fa fa-hospital fonticon"></span></p>
                                </div>
                                <div class="col-sm-10">
                                    <p class="fontdetails">Network Hospitals</p><p class="fontdetails">  4000+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-sm-3">
                            <a href="" data-toggle="modal" data-target="#productDetailshealth" style="font-size:17px;color:green"><span class="fa fa-life-ring"></span>&nbsp; View Features</a>
                        </div>
                        <div class="col-sm-4">Young Star Individual - SILVER</div>
                        <div class="col-sm-5">
                            <h6 class="checkbox-inline" style=" padding: 1px 17px 5px; width: 70%;float:right"><label class="seeingo chech" style="color: green !important;">Add to compare<input type="checkbox" class="submenuclass healthInsuranceProducts" data-identity="hip2" id="commit" onchange="CompareCheck(this,2)" name="commit"><span class="hidden" id="compData2" data-sum_insured="1000000" data-plan="SILVER" data-companyid="1" data-productid="8"></span><span class="checkmark"></span></label></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="text-transform: capitalize;">
                    <div class="row" style="border-left:1px solid #ccc">
                        <div class="col-sm-12"><p style="text-align: center;margin-top: -6px;font-size: 14px;font-weight: bold;"> Cover:&nbsp;<span id="coverCount2"><span class="fa fa-rupee"></span>1000000 / 1 Year</span></p><button class="btn theme-btn btn-hover" style="margin-left: 27px;" id="premiumCount2" data-thiscount="2" data-suminsuredid="3" data-productid="8" data-suminsured="1000000" data-totalamt="7133.1" data-planname="SILVER" data-tenure="1" data-companyid="1" data-adult="1" data-child="0">₹ 7,134.00</button><p style="text-align: center;font-size: 12px;">All Inclusive</p><p style="text-align:center;font-weight: bold;font-size: 14px;"><span class="fa fa-rupee"></span>&nbsp;20/day</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>