﻿
@{
    ViewBag.Title = "HealthQuotelist";
    Layout = "~/Views/Shared/_InnerLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/css/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #2d83bd;
        }


            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 4px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 25%;
                color: #fff;
            }

                .tab button:hover {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

                .tab button.active {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .table td, .table th {
            padding: 3px 5px;
            vertical-align: top;
            border: 1px solid #dee2e6;
        }

        #compare_div {
            position: fixed !important;
            bottom: 0 !important;
            left: 40% !important;
            background-color: #2d83bd !important;
            color: #FFF !important;
            z-index: 500 !important;
            padding: 10px !important;
            max-width: 480px !important;
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #245262;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            height: 104px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #09a9e5;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #fff !important;
            }

        .fonticon {
            font-size: 40px;
            color: #09a9e5;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 12px;
            /*text-align: right;*/
            margin-left: 20px;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #09a9e5;
            background: #09a9e5;
            padding: 10px 10px;
            border-radius: 4px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #09a9e5;
            background: #09a9e5;
            padding: 10px 10px;
            border-radius: 4px;
            width: 20%;
            color: #fff;
        }

        .my_badge.label {
            position: absolute;
            background: linear-gradient(to right,#fe8489 0%,#ff8b90 100%);
            border-radius: 0;
            font-size: 12px;
            font-weight: normal;
            left: 48px;
            top: 3px;
            z-index: 9999;
            padding: 0px 17px 8px;
            text-shadow: none;
            color: #fff !important;
            z-index: 999;
        }

            .my_badge.label.arrowed-in-right:before {
                border: 11px solid #ff8a8f;
                border-left-color: transparent !important;
                content: "";
                display: inline-block;
                position: absolute;
                top: 0px;
                left: -20px;
            }

        product_block .middle_feature_section .my_badge {
            font-size: 13px;
        }

        .my_badge.label-large.arrowed-in-right {
            margin-right: 11px;
        }

        .text-white {
            font-size: 16px;
            color: #fff !important;
        }

        .ui-widget-header {
            background: #09a9e5 !important;
        }
    </style>
}

<div style="margin-top:-20px;">
    <div class="container-fluid topbox">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="margin-top: 10px;color: #fff;">Health Insurance</h3>
            </div>
            <div class="col-sm-8">
                @*<a href="/health/helthsearch" class="editcort">Back to Edit</a>
                    <button class="emialcort" data-toggle="modal" data-target="#membermodel"> Email Quote</button>*@
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-bottom:10%;">
    <div class="row">
        <div class="col-sm-12 listbox">
            <div class="row" id="divStarterSection">
                <p style="font-size: 20px;margin: 4px 0px 0px 240px;color:#09a9e5;padding: 20px;">
                    We are fetching quotes based on the information you have provided. <i class="fa fa-spinner fa-pulse"></i>
                </p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="col-sm-12" id="divPolicyType"></div>
                </div>
                <div class="col-sm-3 hidden" id="divFilterPremium">
                    <div class="col-sm-12">
                        <p class="filterhed">Filter Premium</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <span id="minRangeSlide" style="float: left;font-weight: bold;"></span>
                                <input id="hdnMinRange" type="hidden" />
                            </div>
                            <div class="col-sm-6">
                                <span id="maxRangeSlide" style="float: right;font-weight: bold;"></span>
                                <input id="hdnMaxRange" type="hidden" />
                            </div>
                        </div>
                        <div class="col-sm-12" id="sliderprice"></div>
                        @*<div class="col-sm-12 ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="sliderprice">
                                <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
                            </div>*@
                    </div>
                </div>
                <div class="col-sm-3 hidden" id="divFilterSumInsured">
                    <div class="col-sm-12">
                        <p class="filterhed">Sum Insured</p>
                        <select id="ddlSumInsured" class="form-control" style="height:37px;">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 hidden" id="divFilterTenure" style="margin-left: -50px;">
                    <div class="col-sm-12">
                        <p class="filterhed">Tenure (In Years)</p>
                        <select id="ddlTenure" class="form-control" style="height:37px;width: 180px;">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-1" style="margin-top: 35px;margin-left: 0px;display:none;" id="divResetSection">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" style="background:#09a9e5!important" id="resetFilter">Reset</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="divHealth_SearchList" style="width:100%;">
            <div class="col-sm-12 text-center">
                <p style="font-size: 25px;margin: 60px;color:#09a9e5;">We are fetching quotes based on the information you have provided. <i class="fa fa-spinner fa-pulse"></i></p>
            </div>
        </div>
    </div>
</div>
<div class="sidebar-modal" id="productCompareModal">
    <div class="modal top fade" id="CompareModel">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 1100px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #e71820; color: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        Product Comparison
                    </h2>
                </div>

                <div class='modal-body' id="comp-modalContent"></div>
            </div>
        </div>
    </div>
</div>
<div id="compare_div" class="rounded-top comp hidden">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled list-inline no-margin-bottom padding_horizontal_20">
                <li>
                    <span class="color-light font-bold text-white">
                        <span class="count color-light" id="compCount">0</span> plan(s) selected
                    </span>
                </li>
                <li>
                    <span class="btn compayrbtn" data-toggle="modal" data-target="#CompareModel" id="btn_compareProducts"> Compare </span>
                </li>
                <li>
                    <a class="rounded clear_compare no_decoration text-white"> <span class="color-light font-bold" style="cursor:pointer;" onclick="clearCompSelection()">Clear</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/js/Custom/HealthQuotelist.js?v=1.1"></script>
}