﻿
@{
    ViewBag.Title = "HealthProposalSummary";
    Layout = "~/Views/Shared/_InnerLayoutPage.cshtml";
}

@section header
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        .carhed {
            float: right;
            margin-right: -65px;
            margin-top: 110px;
            color: #262566;
            font-size: 16px;
            font-weight: bold;
        }

        .bikecon {
            cursor: pointer;
            color: #0d73b7;
            border-radius: 64px !important;
            padding: 15px 26px;
            float: left;
            font-size: 42px;
            border: 1px solid #0d73b7;
        }

        .motericon {
            font-size: 17px;
            color: #0d73b7;
            border: 1px solid #0d73b7;
            border-radius: 64px !important;
            padding: 15px 28px;
            cursor: pointer;
            text-align: center;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #ffffff;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 4px 6px;
                transition: 0.3s;
                font-size: 13px;
                width: 25%;
                padding: 8px;
                font-weight: bold;
            }

                .tab button:hover {
                    background-color: #fffafa;
                    color: #19aee6;
                }


                .tab button.active {
                    background-color: #19aee6;
                    color: #fff;
                    padding: 8px;
                    font-weight: bold;
                }


        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        #progressbar li {
            list-style-type: none;
            color: #262566;
            text-transform: uppercase;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 5px;
                background: #848484;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1;
                border-radius: 0%;
            }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #000000 !important;
            font-weight: 600 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #1e5671;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
            width: 82% !important;
        }

        .boxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #262566;
            font-weight: bold;
        }

        .seeingo {
            color: #000000 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 20px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 13px;
            text-align: right;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            text-align: center;
            float: right;
            border: 1px solid #1375b8;
            background: #4593c8;
            padding: 6px 8px;
            border-radius: 30px !important;
            width: 100%;
            margin-bottom: 14px;
            margin-top: 13px;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #1e5671;
            background: #1e5671;
            padding: 6px 8px;
            border-radius: 30px !important;
            width: 100%;
            margin-bottom: 14px;
            margin-top: 13px;
            color: #fff;
        }

        .permismcolr {
            font-size: 20px;
            width: 40%;
            border: 1px solid #0d75bc;
            padding: 5px;
            background: #fff;
            color: #2c83be;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 21px !important;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .text-center {
            text-align: center;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            border-radius: 23px !important;
        }

        .panel-heading {
            color: #fff;
            padding: 5px 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .no-padding {
            padding: 0 !important;
        }

        .panel-body {
            padding: 15px;
        }

        .color-orange {
            color: #3c3595;
        }

        .formcontlbord {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            border-radius: 0px;
        }

        .section1, .section2, .section3, .section4 {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            border-radius: 4px;
        }

        .cmposion {
            position: absolute;
            right: 22px;
            margin-top: -30px;
            font-weight: 100;
            color: #ccc;
        }

        .table td, .table th {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

        .tabcommon {
            border-radius: 50px !important;
            padding: 10px !important;
            text-align: center !important;
            width: 19%;
            cursor: pointer !important;
        }
    </style>
}

<div class="container-fluid" style="margin-top:5px;">
    @*<div class="row" style="border: 1px solid #ccc; border-bottom: none; width: 100%; margin-left: 1px; padding: 3px;">
            <div class="col-sm-9">
                <label class="text-center" style="display:block !important;color: #1e5671;" id="lblProposalId">Enquiry Id : SIH202151389112 &nbsp;/&nbsp; Proposal Id : 3459f6cf4cf4481aae4aca3430d23c93</label>
            </div>
            <div class="col-sm-3">
                <a href="#" style="font-weight: 500;font-size: 16px;">Edit info</a>
            </div>
        </div>*@
    <div class="row" style="margin-bottom: 26px;">
        <div class="col-sm-3" id="divProductSummPremiumBreakup" style="flex: 0 0 24%; border: 1px solid #ccc; padding: 6px;">
            <h5 class="col-sm-12 text-center" style="padding: 5%;margin-top:50%;">
                Please wait,<br />We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
            </h5>
        </div>

        <div class="col-sm-7">
            <div id="tabs">
                <ul style="padding: 5px;">
                    <li class="tabcommon"><a style="float: initial!important;" href="#divProposerDetail">Proposer Details</a></li>
                    <li class="tabcommon"><a style="float: initial!important;" href="#divInsured">Insured Details</a></li>
                    <li class="tabcommon"><a style="float: initial!important;" href="#divMedical">Medical Details</a></li>
                    <li class="tabcommon"><a style="float: initial!important;" href="#divNominee">Other Details</a></li>
                    <li class="tabcommon"><a style="float: initial!important;" href="#divAddon">Addon Details</a></li>
                </ul>

                <div id="divProposerDetail" class="tabcontent" style="display:block;">
                    <h5 class="col-sm-12 text-center" style="padding: 5%;">
                        Please wait, We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                    </h5>
                </div>
                <div id="divInsured" class="tabcontent">
                    <h5 class="col-sm-12 text-center" style="padding: 5%;">
                        Please wait, We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                    </h5>
                </div>
                <div id="divMedical" class="tabcontent">
                    <h5 class="col-sm-12 text-center" style="padding: 5%;">
                        Please wait, We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                    </h5>
                </div>
                <div id="divNominee" class="tabcontent">
                    <h5 class="col-sm-12 text-center" style="padding: 5%;">
                        Please wait, We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                    </h5>
                </div>
                <div id="divAddon" class="tabcontent">
                    <h5 class="col-sm-12 text-center" style="padding: 5%;">
                        Please wait, We are fetching details... <i class="fa fa-spinner fa-pulse"></i>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-sm-2" style="margin-left: 16px; border: 1px solid #ccc;flex: 0 0 15.666667%; max-width: 15.416667%;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-12 form-group">
                    <label class="motericon" id="enqId_label">Enquiry Id : ----</label>
                </div>
                <div class="col-sm-12 form-group">
                    <label class="motericon" id="proposalNo_label"> Proposal No. : ----</label>
                </div>
                <div class="col-sm-12 form-group" id="divPaymentSection" onclick="RedirectPaymentUrl();">
                    <p class="motericon caractive"><span class="fa fa-credit-card fapayment"></span> &nbsp;Payment</p>
                </div>

                <div class="col-sm-12 form-group" style="cursor:pointer;" onclick="CheckPaymentStatusDetails();">
                    <p class="motericon caractive"><span class="fa fa-hand-o-right fapaymentstatus"></span>&nbsp;Check Status</p>
                </div>
                <div class="col-sm-12 form-group" onclick="GetHealthPdfDocument();" style="cursor:pointer;">
                    <p class="motericon caractive"><span class="fa fa-download fadownloadpdf"></span>&nbsp;Download PDF</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PStatusModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 10%;">
        <div class="modal-content" id="divPerposalModal">                   </div>
    </div>
</div>

@section footer{
    <script src="~/Content/js/Custom/HealthProposalSummary.js?v=1.1"></script>
}
