﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Richa Tours And Travels : Payment</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/css/icofont.css">
    <link rel="stylesheet" href="~/Content/css/default.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
</head>
<body>
    <header>
        <div class="header-top-bar-2 header-border white-bg pt-15 pb-15 d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-9 col-md-9">
                        <div class="header-info text-black">
                            <span> Have any question?</span>
                            <span> +91 79 4910 9999</span>
                            <span> info@richaworldtravels.com</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-3 col-md-3">
                        <div class="header-social text-center text-md-right">
                            <a href="#">
                                <i class="icofont icofont-social-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-google-plus"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu-area menu-style-2 d-md-block" style="background: #f7f7f7;border-bottom: 2px solid #09a9e5;margin-bottom: 20px;">
            <div class="container" style="padding: 15px 0px 15px 0px;">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="/"><img src="~/Content/img/logo/logo-b.png" style=" width: 200px;" alt=""></a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </header>
    <form method="post">
        <div class="container-fluid" id="divPrintSection" style="margin-top: 5%;">
            <div class="row form-group">
                <div class="col-sm-4 col-lg-offset-4" style="margin-left: auto; margin-right: auto;padding: 30px;box-shadow: 0px 0px 7px #ccc; border-radius: 4px !important; margin-bottom: 21px;">
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-sm-6 col-lg-offset-6" style="margin-left: auto; margin-right: auto;">
                            @if (Model.Status.ToLower().Trim().Contains("success"))
                            {
                                <p class="text-center" style="color: green;font-size: 70px;margin-bottom: 10px;"><span class="fa fa-check-circle"></span></p>
                                <h4 class="text-center text-success"> Payment @Model.Status</h4>
                            }
                            else
                            {
                                <p class="text-center text-danger" style="font-size: 70px;margin-bottom: 10px;"><span class="fa fa-times-circle"></span></p>
                                <h4 class="text-center text-danger"> Payment @Model.Status</h4>
                            }
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Enquiry Id </div>
                        @if (!string.IsNullOrEmpty(Model.enquiryid))
                        {
                            <div class="col-sm-6 text-right">@Model.enquiryid</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Transaction Number </div>
                        @if (!string.IsNullOrEmpty(Model.transactionRefNum))
                        {
                            <div class="col-sm-6 text-right">@Model.transactionRefNum</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Proposal Number </div>
                        @if (!string.IsNullOrEmpty(Model.proposalNum))
                        {
                            <div class="col-sm-6 text-right">@Model.proposalNum</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Policy Number </div>
                        @if (!string.IsNullOrEmpty(Model.policyNumber))
                        {
                            <div class="col-sm-6 text-right">@Model.policyNumber</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Premium Amount </div>
                        @if (!string.IsNullOrEmpty(Model.premium))
                        {
                            <div class="col-sm-6 text-right">@Model.premium</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Payment Status </div>
                        @if (!string.IsNullOrEmpty(Model.Status))
                        {
                            <div class="col-sm-6 text-right">@Model.Status</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                    <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <div class="col-sm-6 text-left">Payment Date </div>
                        @if (!string.IsNullOrEmpty(Model.paymentdate))
                        {
                            <div class="col-sm-6 text-right">@Model.paymentdate</div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-right text-danger">N/A</div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
