/*
  Theme Name: Insurance - Insurance Agency & Business HTML5 Template
  Author: nilArtStudio
  Description: Insurance Agency & Business HTML5 Template
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. header
2. slider
3. insurance
4. who we are
5. cta
6. fact
7. testimonial
8. blog
10. foote
11. service
13. professional
14. best Insurance
15. counter
16. page title
17. about page
18. team
19. portfolio area
20. contact
21. quote
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Work+Sans:400,500,600,700');
 body {
	font-style: normal;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #666666;
	line-height: 1.2
}
.img {
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
	text-decoration: none;
	outline: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
	color: #2B96CC;
	text-decoration: none;
}
button{cursor: pointer;}
a,
button,button:focus,input:focus {
	color: #1696e7;
	outline: medium none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	margin-top: 0px;
	font-style: normal;
	color: #222;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 40px;
	font-weight: 500;
}
h2 {
	font-size: 35px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 15px;
	font-weight: normal;
	line-height: 27px;
	color: #777;
	margin-bottom: 15px;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #7e7e7e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-moz-selection {
	background: #d6b161;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #444;
	color: #fff;
	text-shadow: none;
}
*::-moz-placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #555555;
	font-size: 14px;
	opacity: 1;
}
.theme-overlay {
	position: relative
}
.theme-overlay::before {
	background: #1696e7 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
}
.separator {
	border-top: 1px solid #f2f2f2
}
/* button style */
.forgetm {
	position: absolute;
	right: 74px;
}
.btn {
	background: none;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 1;
	margin-bottom: 0;
	padding: 11px 23px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
	white-space: nowrap;
	font-family: 'Source Sans Pro', sans-serif;
	border: 1px solid #fff;
}
.btn:hover{background: #09a9e5;color:#fff;border-color: #09a9e5}
.theme-btn{background: #09a9e5;border-color: #09a9e5}
.theme-btn:hover{background: #fff;border-color: #fff;color: #444}
.btn-hover:hover{background: #0F263A;border-color: #0F263A;color: #fff}
.btn-prime{background: #0F263A;border-color: #0F263A;color: #fff}

.bg-cover{background-size: cover;background-position: center center}

/* 2. header */
.header-top-bar {
	padding: 6px 0;
}
.welcome-msg span {
	color: #fff;
}
.top-bar-menu ul li {
  display: inline-block;
  margin-left: 50px;
}
.top-bar-menu ul li a {
	color: #fff;
	padding: 8px 0;
	display: block;
	line-height: 1;
	position: relative;
}
.top-bar-menu ul li a:hover{color: #09a9e5}
.top-bar-menu ul li a::before {
	position: absolute;
	right: -25px;
	top: 7px;
	border: 1px dashed #fff;
	content: "";
	height: 19px;
}
.top-bar-menu ul li:last-child a:before{display: none}

/* header middle */
.cta-header img {
	float: left;
	margin-top: 6px;
}
.h-cta-text {
  overflow: hidden;
  padding-left: 15px;
}
.h-cta-text h3 {
	font-weight: 600;
	font-size: 22px;
	margin: 0;
	line-height: 1;
	margin-bottom: 8px;
}
.h-cta-text span {
	color: #666;
	font-size: 14px;
}
.logo-top {
	margin-top: -63px;
}
.logo.logo-bottom {
	margin-bottom: -33px;
}
.logo-bottom img {
	position: relative;
	z-index: 99;
}

.cta-wrapper .cta-header {
	display: inline-block;
	text-align: left;
	margin-left: 38px;
}
.cta-wrapper .cta-header:first-child{margin-left: 0;}
.cta-wrapper {
	text-align: right;
}
.logo-white {
	background: #09a9e5;
	padding: 20px 0;
	position: relative;
	overflow: hidden;
}
.header-middle-2{position: relative;}
.header-middle-2::before {
	content: "";
	background: #09a9e5;
	left: 0;
	position: absolute;
	height: 100%;
	width: 430px;
}
.logo-white::after {
	content: "";
	background: #fff;
	height: 156px;
	width: 80px;
	position: absolute;
	top: -42px;
	transform: rotate(-35deg);
	right: -41px;
}
.transparent-header{position: absolute;top:0;left:0;right:0;z-index: 9;}
.welcome-msg.text-black span {
	color: #444;
}
.top-bar-menu.text-black ul li a {
	color: #444;
}
.header-social a {
	color: #444;
	margin-left: 10px;
}
.header-info span {
	position: relative;
	margin-right: 29px;
	font-size: 15px;
}
.header-info span::before {
	background: #ddd;
	content: "";
	height: 21px;
	position: absolute;
	right: -18px;
	top: -1px;
	width: 1px;
}
.header-info span:last-child:before{display: none;}
/* main-menu */
.main-menu ul li a {
	color: #e5e5e5;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	padding: 34px 0;
	display: inline-block;
}
.main-menu ul li:hover > a{color: #09a9e5}
.main-menu ul li {
  display: inline-block;
  margin-right: 35px;
  line-height: 1;
  position: relative;
}
.main-menu ul li ul.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	background: #0F263A;
	width: 250px;
	border-top: 4px solid #09a9e5;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	text-align: left;
}
.main-menu ul li ul.submenu li {
	margin: 0;
	display: block;
	border-bottom: 1px solid #1445;
}
.main-menu ul li ul.submenu li:last-child{border: 0}
.main-menu ul li ul.submenu li a {
	padding: 16px 20px;
	font-size: 15px;
}
.main-menu ul li:hover > ul.submenu{opacity: 1;visibility: visible}
.main-menu ul li ul.submenu li ul.submenu {
	left: 100%;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.main-menu ul li ul.submenu li:hover > ul.submenu {
	opacity: 1;
	visibility: visible;
}
.main-menu.menu-white ul li:last-child{margin: 0}
.header-search {
	position: relative;
}
.search-icon {
	padding: 18px 0;
}
.search-icon i {
	color: #6f9a37;
	font-size: 18px;
	background: #fff;
	height: 50px;
	width: 50px;
	display: inline-block;
	text-align: center;
	line-height: 48px;
	border-radius: 50%;
}
.search-form {
	position: absolute;
	top: 100%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
	z-index: 9;
}

.search-form {
	width: 220px;
}
.search-form input {
	border: 0;
	border: 1px solid #ddd;
	height: 45px;
	padding: 0 15px;
	width: 100%
}
.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: none;
  border: 0;
  color: #777;
  width: 45px;
}
.search-form form {
  position: relative;
}
.header-search:hover .search-form{opacity: 1;visibility: visible;}
.main-menu.menu-white ul li a {
	color: #09a9e5;
}
.main-menu.menu-white ul li:hover > a {
	color: #09a9e5;
}
.main-menu.menu-white ul li ul.submenu li a {
	color: #fff;
}
.main-menu.menu-white ul li ul.submenu li:hover > a {
	color: #09a9e5;
}
.header-border{border-bottom: 2px solid #09a9e5}


/* 2. slider */
.slide-height {
	min-height: 770px;
	background-size: cover;
	background-position: center center;
}
.slide-height-full{
	min-height: 960px;
	background-size: cover;
	background-position: center center;
}
.slide-content h1 {
  color: #fff;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 20px;
}
.slide-content h1 span {
	color: #09a9e5;
}
.slide-content p {
	font-size: 16px;
	color: #fff;
	line-height: 28px;
	margin-bottom: 30px;
}
.slider-active{}
.slider-active button.slick-arrow {
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	background: none;
	border: 0;
	background: #fff;
	width: 80px;
	font-size: 27px;
	padding: 0;
	color: #444;
	z-index: 9;
	border-radius:30px;
	transition: .3s;
	opacity:0;
}
.slider-active button.slick-next{left: auto;right:30px}
.slider-active:hover button.slick-arrow{opacity: 1;}
.slider-active:hover button.slick-prev{left: 40px;}
.slider-active:hover button.slick-next{right: 40px;}
.slider-active button.slick-arrow:hover{background: #09a9e5;color: #fff}


.slider-active .slick-dots {
	text-align: center;
	bottom: 30px;
	z-index: 99;
	position: absolute;
	left: 0;
	right: 0;
}
.slider-active .slick-dots li {
	display: inline-block;
	margin: 0 4px
}
.slider-active .slick-dots li button {
	background: no-repeat;
	border: 0;
	height: 10px;
	width: 5px;
	text-indent: -9999px;
	background: #fff;
	transition: .3s;
	padding: 0;
}
.slider-active .slick-dots li.slick-active button{height: 15px}


/* area title */
.area-title h2 {
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: 600;
	color: #222;
	position: relative;
	padding-bottom: 15px;
	text-transform: capitalize;
}
.area-title h2::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	background: #666;
	height: 2px;
	width: 55px;
	bottom: 0;
}
/* .area-title h2 span {
  background: #09a9e5;
  color: #fff;
  padding: 0 12px;
} */
.area-title p {
	font-size: 15px;
	line-height: 30px;
	color: #444;
	margin: 0;
}
.section-title h3 {
	font-size: 30px;
	text-transform: uppercase;
	color: #09a9e5;
}
.section-title h3 {
	font-size: 30px;
	text-transform: capitalize;
	color: #0f263a;
}
.section-title p {
  margin: 0;
}
.section-title {
  position: relative;
  padding-bottom: 10px;
}
.section-title:before {
  position: absolute;
  background: #444;
  height: 2px;
  width: 60px;
  content: "";
  bottom: 0;
}

/* 3. insurance */
.insurance-list h4 {
	color: #09a9e5;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
	padding-bottom: 12px;
	position: relative;
}
.insurance-list h4::before {
	background: #0f263a;
	height: 2px;
	width: 95px;
	content: "";
	bottom: 0;
	left: 0;
	position: absolute;
}
.insurance-list h4 span {
  color: #666;
  font-size: 18px;
  display: block;
}

.insurance-list ul li {
	margin-bottom: 5px;
}
.insurance-list ul li:last-child{margin: 0}
.insurance-list ul li a {
	color: #666666;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}
.insurance-list ul li a:hover{color:#09a9e5}
.insurenace-item {
	position: relative;

}
.insurance-content {
	position: absolute;
	bottom: 0;
	padding: 30px;
	left: 0;
	right: 0;
	z-index: 99;
}
.insurance-content h3 a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}
.insurance-content p {
  color: #fff;
}
.insurance-thumb img{width:100%}

/* insurance-details */
.insurance-desc-img img{width: 100%}
.sidebar-link {
	padding: 35px 30px;
}
.insurance-sidebar h3 {
	font-size: 24px;
	color: #fff;
	border-bottom: 2px solid #fff;
	padding-bottom: 15px;
	margin-bottom: 35px;
	line-height: 1;
}
.sidebar-link ul{}
.sidebar-link ul li {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 23px;
	padding-bottom: 24px;
}
.sidebar-link ul li:last-child{margin: 0;padding: 0; border: 0}
.sidebar-link ul li a {
	color: #fff;
	font-weight: 600;
	display: block;
	line-height: 1;
}
.sidebar-link ul li a:hover{padding-left: 5px;}
.sidebar-link ul li a:hover {
	color: #222;
}
.sidebar-testimonial {
	padding: 35px 30px;
}
.sidebar-testimonial h3 {
	font-size: 24px;
	line-height: 1;
	margin-bottom: 15px;
	color: #444;
	border-color: #666;
	border: 0;
	margin-bottom: 15px;
	padding-bottom: 0;
}
.sidebar-download h3 {
	color: #444;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.sidebar-contact img {
	width: 100%;
}
.insurance-lg-img img {
	width: 100%;
}
.insurance-details img {
	width: 100%;
}
.test-item p {
	margin-bottom: 24px;
}
.test-item p i{color: #09a9e5}
.test-img {
	float: left;
}
.test-name {
	overflow: hidden;
	padding-left: 12px;
}
.test-name h5 {
	font-size: 15px;
	color: #555555;
	margin-bottom: 0;
	margin-top: 3px;
}
.test-name span {
	font-size: 12px;
}
.sidebar-download{}
.sidebar-download ul li {
  margin-bottom: 24px;
}
.sidebar-download ul li:last-child{margin: 0}
.sidebar-download ul li a {
	border: 1px solid #e1e1e1;
	display: block;
	padding: 13px 30px;
	color: #777777;
	font-size: 17px;
	line-height: 1;
	padding-bottom: 20px;
}
.sidebar-download ul li a i {
	margin-right: 15px;
	font-size: 24px;
	position: relative;
	top: 3px;
}
.ins-desc-list ul li {
	margin-bottom: 10px;
	line-height: 1.5;
}
.insurance-column h4 {
	margin-bottom: 10px;
	font-size: 20px;
}
.insurance-column h3 {
	padding-right: 14px;
}

.dot-style .slick-dots {
	text-align: center;
	margin-top: 20px;
}
.dot-style .slick-dots li {
	display: inline-block;
	margin: 0 4px
}
.dot-style .slick-dots li button {
	background: no-repeat;
	border: 0;
	height: 12px;
	width: 12px;
	text-indent: -9999px;
	background: #bababa;
	transition: .3s;
	padding: 0;
	border-radius: 50%;
}
.dot-style .slick-dots li.slick-active button{background: #09a9e5}


/* 4. who we are */
.who-wrapper img {
	margin-bottom: 25px;
}
.who-wrapper h3 {
	font-size: 30px;
	margin-bottom: 15px;
}
.who-wrapper p {
	margin-bottom: 20px;
}
.who-wrapper a {
	color: #444;
	font-weight: 600;
	font-size: 18px;
}
.who-wrapper a:hover {
	color: #0f263a;
}


/* 5. cta */
.cta-text h3 {
	color: #444;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.cta-text.cta-2 h3 {
	color: #444;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 8px;
}
.cta-text p {
	margin: 0;
}

.cta-middle h2 {
	color: #fff;
	font-size: 48px;
	font-weight: 700;
}
.cta-middle h2.cta-color-black {
	color: #0f263a;
}
.cta-middle h1 {
	font-size: 60px;
	color: #09a9e5;
	font-weight: 700;
	margin: 0;
}
/* 6. fact */
.fact-text {
  padding: 90px;
}
.fact-text h3 {
	color: #fff;
	font-weight: 600;
	font-size: 40px;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.fact-text p {
  color: #fff;
}
.fact-text p {
	margin-bottom: 30px;
}
.fact-wrapper {
	padding: 0 100px;
	padding-top: 126px;
	position: relative;
}
.fact-wrapper::before {
	background-image: url(../img/icon/fact-border.png);
	content: "";
	position: absolute;
	width: 539px;
	height: 20px;
	bottom: -100px;
	left: -80px;
}
.fact-single {
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 0 15px;
}
.fact-single span {
	font-size: 87px;
	color: #fff;
	font-weight: 700;
	display: block;
}
.fact-single h3 {
	color: #fff;
	font-size: 30px;
}

/* 7. testimonial */
.testimonial-item > p {
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 20px;
}
.designation > h3 {
	font-size: 18px;
	margin-bottom: 10px;
	color: #444444;
}
.designation > h3 span {
	font-size: 14px;
}
.testimonial-nav {
	margin: auto auto;
	text-align: center;
	width: 310px;
	margin-bottom: 20px;
}
.rating-info span {
	color: #444;
	font-weight: 500;
}
.rating-info span i {
	color: #fac200;
	font-size: 18px;
}
.testimonial-nav button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #333333;
  font-size: 20px;
  left: -50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.testimonial-nav button.slick-next {
  left: auto;
  right: -50px;
}
.testimonial-thumb > img {
  transform: scale(0.7);
}
.testimonial-thumb.slick-center > img {
  transform: scale(01);
}

/* 8. blog */
.blog-title {
	margin-bottom: 20px;
	overflow: hidden;
}
.blog-thumb {
	margin-bottom: 30px;
}
.blog-thumb img {
	width: 100%;
}
.blog-title span {
	background: #09a9e5;
	height: 50px;
	width: 50px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-top: 5px;
	font-weight: 500;
	display: inline-block;
	float: left;
}
.blog-title h3 {
	overflow: hidden;
	font-size: 18px;
	line-height: 1.2;
	padding-left: 13px;
	margin: 0;
}
.blog-title h3 a:hover{color:#09a9e5}
a.read-more {
	color: #222;
	font-weight: 600;
	font-size: 15px;
}
a.read-more:hover{color: #09a9e5}
/* blog-pagination */
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
  margin-left: 0;
}
.blog-pagination .page-item:last-child .page-link {
  border-radius: 0;
}
.blog-pagination .page-item {
  margin: 0 5px;
}
.blog-pagination .page-item:first-child{margin-left: 0}
.blog-pagination .page-link {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #444;
  display: block;
  font-weight: 400;
  line-height: 1.25;
  margin-left: -1p
  padding: 0.5rem 0.75rem;
  position: relative;
  text-align: center;
  width: 40px;
}
.blog-pagination .page-item.active .page-link,.blog-pagination .page-item .page-link:hover {
  background-color: #09a9e5;
  border-color: #09a9e5;
  color: #fff;
  z-index: 1;
}

/* blog sidebar */
.sidebar-widget input {
	border: 1px solid #ddd;
	height: 50px;
	padding: 0 15px;
	width: 100%;
}
.sidebar-widget form {
    position: relative;
}
.sidebar-widget form button {
    background: #444 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}
.sidebar-widget {
  margin-bottom: 50px;
}
.sidebar-title {
	font-size: 22px;
	margin-bottom: 30px;
}
.sidebar-post > li {
  display: flex;
  margin-bottom: 30px;
}
.sidebar-post > li:last-child{margin-bottom:0}
.blog-thumb-widget {
    margin-right: 20px;
    width: 100px;
}
.blog-title-sidebar h5 {
	font-size: 15px;
}
.blog-title-sidebar h5 a:hover{color: #09a9e5}
.blog-title-sidebar > span {
	color: #444;
	font-size: 14px;
}


.cat li::before {
    content: "";
    font-family: icofont;
    position: relative;
    top: 1px;
}
.cat li a {
	color: #444;
	font-size: 14px;
}
.cat > li {
    color: #747474;
    margin-bottom: 20px;
}
.cat li a:hover{color:#444}

.tags > li {
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.tags li a {
	border: 1px solid #ddd;
	color: #444;
	display: inline-block;
	padding: 8px 15px;
}
.tags li a:hover{background:#666;color:#fff;border-color:#666}

/* blog details */
.blog-d-meta span {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: 400;
}
.blog-d-meta span a {
  color: #444;
}
.blog-d-meta {
  margin-bottom: 20px;
}
blockquote p {
	font-size: 20px;
	font-style: italic;
	border-left: 2px solid #666;
	padding-left: 15px;
	margin-left: 40px;
}
.blog-desc-img img {
	width: 100%;
}
.blog-post-tag > a {
	border: 1px solid #ededed;
	color: #444;
	display: inline-block;
	font-size: 14px;
	padding: 10px;
}
.blog-post-tag > a:hover{background: #09a9e5;border-color: #09a9e5;color: #fff}
.blog-share-icon > span {
  color: #595959;
  font-size: 15px;
}
.blog-share-icon> a {
  color: #595959;
  font-size: 15px;
  margin: 0 8px;
}
.blog-share-icon> a:hover{color: #09a9e5}
.blog-share-icon {
  margin-top: 8px;
}
/* blog comments */
.post-comments {
	border-top: 1px solid #e6e6e6;
	padding-top: 60px;
}
.comments-avatar {
  float: left;
  width: 103px;
}
.comments-text {
  overflow: hidden;
  padding-left: 30px;
}
.avatar-name > h5 {
	float: left;
	font-size: 16px;
	font-weight: 600;
}
.avatar-name > span {
    color: #646464;
    float: right;
    font-size: 12px;
}
.avatar-name {
    margin-bottom: 10px;
    overflow: hidden;
}
.comments-box {
  margin-bottom: 50px;
}
.comments-reply {
  padding-left: 130px;
}
.comments-text > p {
    color: #646464;
    font-size: 14px;
    margin-bottom: 25px;
}
.comments-text > a {
    border: 1px solid #ddd;
    color: #444;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 20px;
    text-transform: uppercase;
}
.comments-text > a:hover{background: #09a9e5;border-color: #09a9e5;color: #fff}

.post-comments-form {}
.post-comments-form input {
  border: 1px solid #e6e6e6;
  height: 45px;
  margin-bottom: 25px;
  padding: 0 15px;
  width: 100%;
}
.post-comments-form textarea {
  border: 1px solid #e6e6e6;
  height: 130px;
  margin-bottom: 25px;
  padding: 15px;
  width: 100%;
}
.post-comments-form  button{}

/* brand */
.single-brand a {
  display: inline-block;
}
.single-brand {
  text-align: center;
}

/* 10. footer */
.footer-widget p {
	color: #d1d1d1;
	margin-bottom: 25px;
	line-height: 28px;
}
.footer-logo {
	margin-bottom: 40px;
	margin-top: -71px;
}
.subscribe h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}
.subscribe input {
  width: 100%;
  border: 0;
  height: 45px;
  padding: 0 15px;
}
.subscribe button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border: 0;
  font-size: 18px;
  background: #09a9e5;
  color: #fff;
}
.subscribe form {
  position: relative;
}
.footer-widget h3 {
	font-size: 22px;
	color: #eeeeee;
	margin-bottom: 30px;
	line-height: 1;
}
.footer-widget ul.footer-link li a {
	color: #dddddd;
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1;
}
.footer-widget ul.footer-link li a:hover{color: #09a9e5}
.footer-widget ul.footer-link li a::before {
	content: "\eb55";
	font-family: icofont;
	margin-right: 5px;
}
.footer-widget ul.footer-link li {
  margin-bottom: 22px;
}
.footer-widget ul.footer-link li:last-child {
  margin-bottom: 0px;
}

.rc-post-img {
  float: left;
}
.rc-post-content {
	overflow: hidden;
	padding-left: 15px
}
.rc-post-content h5 {
	font-size: 15px;
	font-weight: 500;
	line-height: 23px;
	margin-bottom: 0;
	color: #d1d1d1;
	position: relative;
	margin-top: -5px;
}
.rc-post-content h5 a:hover{color:#09a9e5}
.rc-post-content > span {
	color: #999;
	font-size: 12px;
}
.rc-post > li {
  margin-bottom: 25px;
}
.rc-post > li:last-child {
  margin-bottom: 0;
}
.instagram-list {
	margin: 0 -2px
}
.instagram-list li {
	float: left;
	padding: 0 2px;
	width: 33.33%;
	margin-bottom: 4px;
}
.copyright p {
	color: #fff;
	margin: 0;
}
.footer-spcial a {
	color: #eeeeee;
	font-size: 18px;
	margin-left: 10px;
	display: inline-block;
}
.footer-spcial a:hover{color: #444}
.footer-spcial {
	margin-top: 4px;
}

/* 11. service */
.service-content h3 a {
	font-size: 24px;
	color: #444;
}
.service-content h3 a:hover {
	color: #09a9e5;
}
.service-content {
  padding-top: 20px;
}
.serive-thumb img {
	width: 100%;
}
.service-content p {
  margin-bottom: 20px;
}

/* service 2 */
.service-list {
	padding: 0 16px;
}
.service-icon {
	margin-bottom: 15px;
}
.service-text h3 {
	font-size: 30px;
}
.service-text p {
	margin: 0;
}

.service-3 .service-content h3 a {
	color: #0f263a;
}
.service-3 .service-content h3 a:hover {
	color: #09a9e5;
}
.service-3{}
.service-3{}
.service-3{}

/* 13. professional */
.professional-text h3 {
	color: #444;
	font-weight: 600;
	margin-bottom: 12px;
	font-size: 30px;
}
.professional-text p {
	margin-bottom: 30px;
}
.prof-img {
	padding-left: 60px;
}
.prof-inner {
  position: relative;
}
.prof-inner a {
	position: absolute;
	left: -19px;
	bottom: -15px;
	background: #09a9e5;
	z-index: 9;
	font-size: 19px;
	display: inline-block;
	color: #fff;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	line-height: 57px;
	text-align: center;
}
.profl-text-2 h3 {
	color: #ffffff;
	font-size: 30px;
}
.profl-text-2 p {
	margin-bottom: 0px;
	color: #e4e4e4;
}
.prof-contact {
  background: #fff;
  padding: 50px 40px;
}
.prof-contact h3 {
  color: #09a9e5;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 15px;
}

 /* 14. best Insurance */
.best-ins-text {
	padding-top: 35px;
}
.best-ins-text h3 {
	font-size: 36px;
	color: #444;
	font-weight: 700;
	margin-bottom: 20px;
}
.best-ins-text p {
	margin-bottom: 30px;
}
.best-ins-list li {
	font-size: 16px;
	color: #666;
	margin-bottom: 17px;
	width: 50%;
	float: left;
}
.best-ins-list li::before {
	content: "\f0f4";
	font-family: icofont;
	color: #0f263a;
	margin-right: 10px;
}

/* 15. counter */
.single-counter span {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
.single-counter h3 {
  font-size: 24px;
  color: #fff;
  margin: 0;
}


.care-text h3 {
  color: #fff;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 25px;
}
.care-text {
  padding: 80px 35px;
}
.care-text p {
  color: #fff;
  margin-bottom: 25px;
  color: #fff;
}

/* testmonial-text */
.test-box h4 {
  font-size: 18px;
  color: #555555;
}
.test-box h4 span {
  font-size: 14px;
}
.test-box {
  padding: 40px 30px;
  box-shadow: 0px 2px 5px 0px rgba(51, 51, 51, 0.35);
  position: relative;
}
.test-box::before {
	content: "";
	background-image: url(../img/icon/arrow.png);
	position: absolute;
	bottom: -24px;
	right: 50px;
	height: 24px;
	width: 32px;
}
.test-box p {
  margin: 0;
}
.care-text h3 {
	color: #fff;
	font-size: 33px;
	font-weight: 600;
	margin-bottom: 25px;
}
.care-text {
  padding: 80px 35px;
}
.care-text p {
  color: #fff;
  margin-bottom: 25px;
  color: #fff;
}

/* 16. page title */
.page-title-area {
	background-size: cover;
	background-position: center center;
}
.page-title h3 {
	color: #fff;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
}
.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background: none;
	border-radius: 0;
}
.breadcrumb-item.active {
	color: #ffffff;
}
.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	padding-left: .5rem;
	color: #ffffff;
	content: "\eb55";
	font-family: icofont;
}
.breadcrumb-item a {
	color: #09a9e5;
}


/* 17. about page */
.prof-inner img {
	width: 100%;
}
.prof-content{padding-top: 0;}
.best-ins-text h3 {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.best-ins-text h2 {
	font-weight: 400;
	font-size: 31px;
}

/* 18. team */
.team-thumb {
	margin-bottom: 20px;
	position: relative;
}
.team-thumb img {
	width: 100%;
}
.team-thumb::before {
	position: absolute;
	background: #000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	content: "";
	opacity: 0;
	transition: .3s;
	z-index: 1;
}
.team-wrapper:hover .team-thumb::before{opacity: .5;}
.team-info h3 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.team-icon {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 25px 30px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
}
.team-wrapper:hover .team-icon{opacity: 1;visibility: visible}
.team-icon a {
	color: #fff;
	border: 1px solid #ddd;
	height: 40px;
	width: 40px;
	display: inline-block;
	line-height: 40px;
	font-size: 18px;
	border-radius: 50%;
	margin: 0 2px;
}
.team-icon a:hover{background: #09a9e5;border-color:#09a9e5}

/* mission */
.our-hope h2 {
	color: #09a9e5;
	font-size: 30px;
	text-transform: uppercase;
}

/* about page 2 */
.prof-content p {
	margin-bottom: 20px;
}


/* 19. portfolio area */
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-thumb::before {
	background: #0F263A;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}
.portfolio-wrapper:hover .portfolio-thumb::before{opacity: .8;visibility: visible;}
.portfolio-thumb > img {
    width: 100%;
    transition: .3s;
}
.portfolio-wrapper:hover .portfolio-thumb > img{transform: scale(1.2)}
.portfolio-content {
    left: 0;
    padding: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
}
.portfolio-wrapper:hover .portfolio-content{opacity: 1;visibility: visible;}
.portfolio-wrapper {
    position: relative;
}
.portfolio-content > h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.portfolio-content > h3 a:hover{color: #09a9e5}
.portfolio-content span {
	color: #ddd;
	font-size: 14px;
}
.icon a {
  display: inline-block;
  height: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 20px;
}


.portfolio-menu > button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #3b3f42;
	cursor: pointer;
	font-weight: 400;
	margin: 0 8px;
	padding: 10px 15px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	font-weight: 600;
}
.portfolio-menu > button:focus {
  outline: 0 none;
}
.portfolio-menu > button:hover, .portfolio-menu > button.active {
	color: #09a9e5;
}

/* portfolio details */
.project-details-title {
  font-size: 28px;
  font-weight: 600;
}
.project-details-title.color-white {
	color: #fff;
}
.portfolio-details-img img {
	width: 100%;
}
.project-desc > p {
  margin-bottom: 30px;
}
.project-status {
  padding: 40px;
}
.project-status ul li {
  margin-bottom: 30px;
}
.project-status ul li:last-child {
  margin-bottom: 0px;
}
.project-status ul li span {
	color: #ddd;
	display: block;
	font-size: 15px;
	margin-top: 10px;
}
.project-status ul li b {
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
}

/* 20. contact */
.contact-form {
  padding: 60px 40px;
}
.contact-form > h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 29px;
}
.contact-form input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: currentcolor currentcolor #cccccf;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  font-size: 13px;
  height: 60px;
  margin-bottom: 40px;
  width: 100%;
}
.contact-form textarea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: currentcolor currentcolor #cccccf;
  border-image: none;
  border-style: none none solid;
  border-width: 0 0 1px;
  height: 80px;
  margin-bottom: 40px;
  width: 100%;
}
.contact-form button{}

.contact-info > span {
  color: #646464;
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
}
.contact-info {
  border: 1px solid #f2f2f2;
  padding: 60px 45px;
}
.contact-info h2 {
  color: #414149;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}
.contact-meta-info h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.contact-meta-info > p {
  margin-bottom: 5px;
}
#contact-map{min-height: 500px;width: 100%}


/* 21. quote */
.quote-thumb img {
	width: 100%;
}
.quote-form input {
	width: 100%;
	height: 50px;
	border: 1px solid #cccccf;
	padding: 0 15px;
	margin-bottom: 30px;
}
.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 0;
	border: solid 1px #cccccf;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	margin-bottom: 30px;
}
.quote-form {

}
.quote-bg {
	background-size: cover;
	background-position: center;
}

/* scrollUp */
#scrollUp {
	background: #09a9e5;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}

/* 12. Faq */
.faq-wrapper .btn-link {
	background: #fff;
	border: 1px solid #ddd;
	color: #444;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	width: 100%;
	padding: 20px 25px;
	border-radius: 0;
	text-align: left;
	text-decoration: none;
	transform: translateY(0);
	text-transform: capitalize;
}

.faq-wrapper .btn-link.collapsed{
	background: transparent;
	border: 1px solid #ddd;
	color: #444
}
.faq-wrapper .btn-link.collapsed:hover{
	border: 1px solid #ddd;
}
.faq-wrapper .btn-link::before {
	content: "\e622";
	font-family: 'themify';
	line-height: 30px;
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 24px;
	font-size: 14px;
}
.faq-wrapper .btn-link.collapsed::before {
	content: "\e61a";
	line-height: 30px;
	position: absolute;
	font-size: 14px;
	right: 20px;
}
.btn-link:focus{text-decoration: none}
.faq-wrapper .card-header {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}
.faq-wrapper .card {
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	background-clip: border-box;
	background-color: #fff;
	border: 0 none;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	min-width: 0;
	overflow-wrap: break-word;
	position: relative;
}
.faq-wrapper .card-body {
	-moz-box-flex: 1;
	flex: 1 1 auto;
	padding: 0;
	color: #8a8a8a;
	font-size: 14px;
	line-height: 26px;
	padding: 15px 10px;
}

.faq-img {
	margin-top: -38px;
}


/* agent */
.get-agent-area {
	background-size: cover;
}
.get-agent h2 {
	color: #ffffff;
	font-size: 42px;
	padding-right: 60px;
	line-height: 55px;
	margin-bottom: 30px;
}
.get-agent input {
	background: #0f263a;
	border: 0;
	height: 50px;
	width: 210px;
	padding: 0 15px;
	color: #fff;
	border-radius: 3px;
	margin-right: 15px;
}
.get-agent input::-moz-placeholder{color: #b1b1b1}
.get-agent button {
	background: #09a9e5;
	border: 0;
	color: #fff;
	height: 48px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 0 42px;
	line-height: 1;
	position: relative;
	top: -1px;
}

/* quote-tab */
.quote-tab {
}
.quote-form-box {
	width: 70%;
	padding: 45px 40px;
}
.quote-form {
	position: relative;
}
.quote-tab {
	position: absolute;
	padding-left: 40px;
	top: 40px;
	z-index: 99;
}
.quote-wrapper {
	position: relative;
}
.quote-bg {
	background-size: cover;
	background-position: center;
	position: absolute;
	right: 0;
	height: 100%;
	width: 30%;
	top: 0;
}
.quote-form h3 {
	margin-bottom: 30px;
	font-size: 23px;
	font-weight: 700;
	margin-top: 60px;
}
.quote-tab li {
	padding-bottom: 24px;
	margin-right: 25px;
}
.quote-tab li a {
	color: #222;
	font-weight: 600;
	display: block;
	line-height: 1;
	padding: 0;
	position: relative;
	font-size: 16px;
}
.quote-tab li a::before {
	position: absolute;
	bottom: -15px;
	left: 0;
	background: #09a9e5;
	height: 2px;
	width: 50px;
	content: "";
	opacity: 0;
}
.quote-tab li a.active::before {
	opacity: 1;
}
.form-title h4 {
	font-size: 15px;
}

.quote-form .range-input input {
	background: no-repeat;
	height: auto;
	margin: 0;
	width: auto;
	text-align: right;
}
.range-wrapper label {
	float: left;
	font-size: 15px;
	color: #222;
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
}
.range-input {
	float: right;
	text-align: right;
}
.ui-widget-header {
	border: 1px solid #dddddd;
	background: #09a9e5;
	color: #333333;
	font-weight: bold;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: transparent;
	background: no-repeat;
	font-weight: normal;
	color: #454545;
	border-radius: 50%;
	border: 1px solid #ddd;
	background: #fff;
}
.ui-slider-horizontal {
	height: 18px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}



/* 5. promotion area */
.promotion-img {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.promotion-area {
  position: relative;
}
.promotion-text {
}
.promotion-text h3 {
	font-size: 60px;
	font-weight: 600;
	color: #fff;
}
.promotion-text > p {
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 30px;
	color: #fff;
}
.watch-video {
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}
.watch-video:hover{color: #09a9e5}
.watch-video i {
	font-size: 24px;
	margin-right: 4px;
	position: relative;
	top: 5px;
}
.video-btn a {
	margin: 0 5px;
}