﻿<!DOCTYPE html>
@using Care_Project.Methods.Service;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Richa World Travel</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/css/icofont.css">
    <link rel="stylesheet" href="~/Content/css/default.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <style>
        .btn-danger {
            background: red;
        }
    </style>
    @RenderSection("header", false)
</head>
<body>
    <header>
        <div class="header-top-bar-2 header-border white-bg pt-15 pb-15 d-none d-md-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-9 col-md-9">
                        <div class="header-info text-black">
                            <span> Have any question?</span>
                            <span> +91 79 4910 9999</span>
                            <span> info@richaworldtravels.com</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-3 col-md-3">
                        <div class="header-social text-center text-md-right">
                            <a href="#">
                                <i class="icofont icofont-social-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-google-plus"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="margin-top:9%;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Sign In</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-validation">
                            <input type="text" class="form-control" id="txtUserId" placeholder="enter user id" />
                        </div>
                        <div class="form-group form-validation">
                            <input type="password" class="form-control" id="txtPassword" placeholder="enter password" />
                        </div>
                        <div class="form-group">
                            <p id="LoginErrorMsg" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnLogin" style="background:#09a9e5!important" class="btn btn-primary" onclick="return UserLogin();">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;Sign In
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu-area menu-style-2 d-md-block" style="background: #f7f7f7;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="/"><img src="~/Content/img/logo/logo-b.png" style=" width: 200px;" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="main-menu menu-white text-right">
                            <nav id="mobile-menu2">
                                <ul>
                                    @{
                                        Care_Project.Models.Agency lu = new Care_Project.Models.Agency();
                                        if (Administrator_Service.IsAgencyLogin(ref lu))
                                        {
                                            <li style="padding: 20px 0;">
                                                <button type="button" class="btn btn-primary" style="background:#09a9e5!important" onclick="window.location.href='/home/health'">
                                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>&nbsp;Health
                                                </button>
                                            </li>
                                            <li style="padding: 20px 0;">
                                                <h5>@lu.AgencyName [ @lu.AgencyId ]&nbsp;<span class="btn btn-danger" onclick="return LogoutEvnt();">Logout</span></h5>
                                            </li>
                                        }
                                        else
                                        {

                                            <li style="padding: 20px 0;">
                                                <button type="button" class="btn btn-primary" style="background:#09a9e5!important" data-toggle="modal" data-target="#exampleModal">
                                                    <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Sign In
                                                </button>
                                            </li>
                                        }
                                    }

                                    @*<li>
                                            <a href="#">Get A Quote</a>
                                        </li>
                                        <li>

                                            <div class="row" style="width: 100%;">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-4" style="margin-top: 8px;">
                                                    <input type="text" id="txtAgencyUserId" name="txtAgencyUserId" class="form-control login_textbox textboxh" placeholder="Enter User ID" autocomplete="off" />

                                                </div>
                                                <div class="col-sm-4" style="margin-top: 8px;">
                                                    <input type="password" id="txtAgencyPassword" name="txtAgencyPassword" class="form-control login_textbox textboxh" placeholder="Enter Password" autocomplete="off" />

                                                </div>
                                                <div class="col-sm-3" style="margin-top: 8px;">
                                                    <button class="btn theme-btn btn-hover" id="btnAgencyLogin" onclick="return AgencyLoginProcess();">Login</button>
                                                </div>
                                            </div>
                                            <div class="row" style="width: 100%;">
                                                <div class="col-sm-1"></div>
                                                <div class="col-sm-6">
                                                    <span class="text-danger" id="LoginErrorMsg"></span>
                                                </div>
                                                <div class="col-sm-4" style="margin-top: -10px;">
                                                    <a href="#" class="forgetm" style="padding: 0px !important;top: 16px;">
                                                        Forgot Password?
                                                    </a>
                                                    <a href="/Home/Registration" class="signupm" style="padding: 0px !important; position: absolute; left: 120px; top: 15px;"> / SignUp</a>
                                                </div>
                                            </div>
                                        </li>*@
                                    @*<li>
                                            <a href="portfolio.html">Portfolio</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="portfolio.html">Portfolio Masonry</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-2.html">Portfolio 3 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-3.html">Portfolio 2 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-details.html">Portfolio Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">News</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="blog.html">Blog 3 Column</a>
                                                </li>
                                                <li>
                                                    <a href="blog-left-sidebar.html">Blog left Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-sidebar.html">Blog Right Sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-list.html">Blog List Style</a>
                                                </li>
                                                <li>
                                                    <a href="blog-details.html">Blog Details</a>
                                                </li>
                                                <li>
                                                    <a href="blog-details-left-sidebar.html">Blog Left Sidebar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Pages</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="about.html">About 1</a>
                                                </li>
                                                <li>
                                                    <a href="service.html">Service 1</a>
                                                </li>
                                                <li>
                                                    <a href="service-2.html">Service 2</a>
                                                </li>
                                                <li>
                                                    <a href="service-3.html">Service 3</a>
                                                </li>
                                                <li>
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                            </ul>
                                        </li>*@
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu"></div>
                    </div>
                    @*<div class="col-xl-2 col-lg-2 d-none d-lg-block">
                            <div class="header-btn text-right">
                                <a class="btn theme-btn btn-hover" href="quote.html">
                                    get a quote
                                    <i class="icofont icofont-location-arrow"></i>
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="footer-area black-bg pb-50 pt-70">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget mb-30">
                            <h3>Something Us</h3>
                            <p>
                                Claritas est etiam processu sequitur mutationem consuetud lector Mirum est notare quam littera hum sdecima Eodem modo typi
                                .
                            </p>
                            <div class="subscribe">
                                <h4>Subscribe To Our Newsletter</h4>
                                <form action="#">
                                    <input type="text" placeholder="Your email">
                                    <button type="submit"><i class="icofont icofont-location-arrow"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6">
                        <div class="footer-widget mb-30">
                            <h3>Information</h3>
                            <ul class="footer-link">
                                <li><a href="#">home</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">information</a></li>
                                <li><a href="#">blog & news</a></li>
                                <li><a href="#">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footer-widget mb-30">
                            <h3>Recent Post</h3>
                            <ul class="rc-post">
                                <li>
                                    <div class="rc-post-img">
                                        <a href="blog-details.html">
                                            <img src="~/Content/img/blog/recent/widget1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <h5>
                                            <a href="blog-details.html">Completely synergize resource sucking relationships.</a>
                                        </h5>
                                        <span>On : Feb 12, 2018</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="rc-post-img">
                                        <a href="blog-details.html">
                                            <img src="~/Content/img/blog/recent/widget2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <h5>
                                            <a href="blog-details.html">Completely synergize resource sucking relationships.</a>
                                        </h5>
                                        <span>On : Feb 12, 2018</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="rc-post-img">
                                        <a href="blog-details.html">
                                            <img src="~/Content/img/blog/recent/widget3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="rc-post-content">
                                        <h5>
                                            <a href="blog-details.html">Completely synergize resource sucking relationships.</a>
                                        </h5>
                                        <span>On : Feb 12, 2018</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="footer-widget mb-30">
                            <h3>Instagram</h3>
                            <ul class="instagram-list">
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram6.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram7.jpg" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/img/instagram/Instagram8.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area theme-bg pt-15 pb-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="copyright">
                            <p>All Rights Reserved © Designed By Richa World Travel</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="footer-spcial text-center text-md-right">
                            <a href="#">
                                <i class="icofont icofont-social-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-google-plus"></i>
                            </a>
                            <a href="#">
                                <i class="icofont icofont-social-pinterest"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/ajax-form.js"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/Custom/login.js"></script>
    <script src="~/Content/js/Common/common.js"></script>
    @RenderSection("footer", false)
</body>
</html>
